<nav id="nav">
  <div class="nav-brand">
    <a href="/">MySite</a>
  </div>
  <ul class="nav-links">
    <li><a href="/">Home</a></li>
    <li><a href="/items/carrot">Items</a></li>
    <li><a href="/name/world">Name</a></li>
  </ul>
</nav>