<div class="notification-box">
  <span class="notification-icon">&#9432;</span>
  <p class="notification-message"><%= notification %></p>
  <button class="notification-close" onclick="this.parentElement.style.display='none'">&times;</button>
</div>
